.clear-all-cart:hover{
    color: rgb(6, 4, 60);
    background-color: rgb(153, 193, 228);
}

.account-info-table tr,th,td{
    border: 1px solid black;
    padding: 1rem 1rem;
}

.cart-item-table tr, th, td{
    border: 1px solid black;
    padding: 1rem 1rem;
}

body{
    background-color: aliceblue;
}

.category-sub-li{
    list-style-type: none !important;
    color: #212529;
    background-color: rgba(222, 210, 201, 0.5);
    border-color:rgba(222, 210, 201, 0.5); 
}

.category-sub-li:focus{
    list-style-type: none !important;

    -webkit-box-shadow: 0 0 0 0.2rem #e9a571;
              box-shadow: 0 0 0 0.2rem #e9a571;
}

